* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #fff;
    background-color: #1d1d1f;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    padding: 10px;
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    margin-left: 20px;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.review-order {
    width: 100%;
}

.product {
    border: 1px solid #333;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #222;
    border-radius: 12px;
}

.product-details {
    display: flex;
    align-items: center;
}

.product-img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.product-info {
    flex: 1;
}

.price {
    color: #fff;
}

.update-link,
.delete-link {
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
}

.delivery-date {
    color: #fff;
    margin-bottom: 10px;
}

.delivery-options {
    margin-top: 10px;
}

.order-summary {
    width: 100%;
    background-color: #222;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 12px;
}

table {
    width: 100%;
    margin-bottom: 10px;
}

table tr td {
    padding: 5px;
    text-align: right;
    color: #fff;
}

.total-label {
    color: #fff;
}

.total-amount {
    font-weight: bold;
    color: #fff;
}

.place-order-btn {
    display: block;
    width: 100%;
    background-color: #0071e3;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.place-order-btn:hover {
    background-color: #005ec2;
}

@media (min-width: 768px) {
    main {
        flex-direction: row;
    }

    .review-order {
        flex: 2;
        margin-right: 20px;
    }

    .order-summary {
        flex: 1;
    }
}
